{% extends "base.html" %}

<!-- Titulo da página -->
{%block title %}Contato{% endblock %}

<!-- Importando CSS específico para a página -->
{% block extra_css %}
<link rel="stylesheet" href="/static/css/contato.css" />
{% endblock %}

<!-- Conteudo da página-->
{% block content %}

<!-- Conteúdo Principal -->
<div class="container-contato">
  <div class="form">
    <!-- Cabeçalho -->
    <div class="contact-info">
      <h3 class="title">Fale Conosco!</h3>
      <p class="text">
        Estamos aqui para ouvir você! Se tiver dúvidas, sugestões ou precisar de
        ajuda, entre em contato conosco. Nossa equipe está pronta para responder
        o mais rápido possível.
      </p>

      <!-- Informações -->
      <div class="info">
        <div class="information">
          <span #="icon" class="material-symbols-outlined">
            globe_location_pin
          </span>
          <p>
            R. Gen. José Cristino, 77 Vasco da Gama, Rio de Janeiro RJ,
            20921-400
          </p>
        </div>
        <div class="information">
          <span #="icon" class="material-symbols-outlined"> mail </span>
          <p>aurora@on.br</p>
        </div>
        <div class="information">
          <span #="icon" class="material-symbols-outlined">
            phone_in_talk
          </span>
          <p>21 99999-9999</p>
        </div>
      </div>
      <!-- Redes Sociais-->
      <div class="social-media">
        <p>Conecte-se conosco:</p>
        <div class="social-icons">
          <a
            href="https://www.facebook.com/observatorionacional/?locale=pt_BR"
            target="_blank"
          >
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="https://x.com/obs_nacional" target="_blank">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a
            href="https://www.instagram.com/observatorionacional/"
            target="_blank"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a
            href="https://www.linkedin.com/company/observat-rio-nacional/?originalSubdomain=br"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Form -->

    <div class="contact-form">
      <span class="circle-one"></span>
      <span class="circle-two"></span>

      <form action="contato.html" autocomplete="off">
        <h3 class="title">Envie uma Mensagem!</h3>

        <div class="input-container">
          <input
            type="text"
            id="name"
            name="name"
            class="input"
            required
            placeholder="Digite seu nome ..."
          />
        </div>

        <div class="input-container">
          <input
            type="email"
            id="email"
            name="email"
            class="input"
            required
            placeholder="Digite seu melhor email ..."
          />
        </div>

        <div class="input-container">
          <input
            type="tel"
            id="phone"
            name="phone"
            class="input"
            placeholder="Informe seu telefone ..."
            required
          />
        </div>

        <div class="input-container-textarea">
          <textarea
            id="message"
            name="message"
            class="input"
            required
            placeholder="Digite sua mensagem ..."
          ></textarea>
        </div>

        <input type="submit" value="Enviar" class="btn" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
