<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aurora</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!--Icones (googlefonts)-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="/static/css/sobre.css" />
  </head>

  <body>
    <!-- Sidebar -->

    <div class="layout">
      <aside class="sidebar">
        <!-- Sidebar Header -->
        <header class="sidebar-header">
          <a class="header-logo">
            <img src="http://servicos.on.br/Logo.png" alt="Logo" />
          </a>
          <button class="toggler sidebar-toggler">
            <span class="material-symbols-rounded"> chevron_left </span>
          </button>
          <button class="toggler menu-toggler">
            <span class="material-symbols-rounded"> menu </span>
          </button>
        </header>

        <!-- Sidebar Nav -->
        <nav class="sidebar-nav">
          <!--Primeira Metade(top)-->
          <ul class="nav-list primary-nav">
            <li class="nav-item">
              <a href="index.html" class="nav-link">
                <span class="material-symbols-rounded">chat</span>
                <span class="nav-label">Chat</span>
              </a>
              <span class="nav-tooltip">Inicie uma conversa com a Aurora!</span>
            </li>

            <li class="nav-item">
              <a href="sobre.html" class="nav-link">
                <span class="material-symbols-rounded">info</span>
                <span class="nav-label">Sobre</span>
              </a>
              <span class="nav-tooltip">Descubra tudo sobre a Aurora!</span>
            </li>

            <li class="nav-item">
              <a href="contato.html" class="nav-link">
                <span class="material-symbols-rounded">call</span>
                <span class="nav-label">Contato</span>
              </a>
              <span class="nav-tooltip">Precisa de ajuda? Fale conosco!</span>
            </li>
          </ul>

          <!--Segunda Metade(bottom)-->
          <ul class="secondary-nav">
            <li class="nav-item bottom-logo-wrapper">
              <a class="bottom-logo" target="_blank">
                <img
                  src="/static/images/LogoAuroraTextoBranco.png"
                  alt="logo"
                />
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <script src="/static/js/sidebar.js"></script>

      <!-- Conteúdo Principal -->

      <div class="main-content-sobre">
        <div class="container">
          <!-- Índice lateral -->
          <aside class="indice">
            <p class="titulo-indice">Índice</p>

            <nav>
              <ul>
                <li><a href="#introducao">Introdução</a></li>
                <li><a href="#missao">Missão</a></li>
                <li><a href="#resultados">Resultados Esperados</a></li>
                <li><a href="#metodologia">Metodologia</a></li>
              </ul>
            </nav>
          </aside>

          <!-- Conteúdo das seções -->
          <main class="conteudo">
            <section id="introducao">
              <h2>Introdução</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae iusto exercitationem accusantium, veritatis,
                sapiente possimus necessitatibus dolor nulla excepturi impedit
                cumque porro eos molestias explicabo voluptas pariatur! Totam,
                vel aliquam!
              </p>
            </section>

            <section id="missao">
              <h2>Missão</h2>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel
                maxime quis neque aut nulla perferendis! Fugiat eum, ratione
                dolores ut, nam exercitationem tenetur alias totam enim non vel,
                harum ipsam.
              </p>
            </section>

            <section id="resultados">
              <h2>Resultados Esperados</h2>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Magnam, eligendi. Harum in dolor unde natus molestiae rem
                blanditiis, aliquam nostrum voluptate laboriosam? Necessitatibus
                numquam, saepe illum labore totam non rem.
              </p>
            </section>

            <section id="metodologia">
              <h2>Metodologia</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                obcaecati, perferendis quis mollitia minus id. Sed, sequi
                possimus deserunt velit, provident, quam pariatur ut dolorum
                iste culpa veniam autem assumenda?
              </p>
            </section>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
