<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aurora</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!--Icones (googlefonts)-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="/static/css/sobre.css" />
  </head>

  <body>
    <!-- Sidebar -->
    <div class="layout">
      <aside class="sidebar">
        <!-- Sidebar Header -->
        <header class="sidebar-header">
          <a class="header-logo-aberta">
            <img
              src="/static/images/LogoObservatorioCompleta.png"
              alt="Logo-aberta"
            />
          </a>
          <a class="header-logo-collapsed">
            <img
              src="http://servicos.on.br/Logo.png"
              alt="header-logo-colapsed"
            />
          </a>
          <button class="toggler sidebar-toggler">
            <span class="material-symbols-rounded"> chevron_left </span>
          </button>
          <button class="toggler menu-toggler">
            <span class="material-symbols-rounded"> menu </span>
          </button>
        </header>

        <!-- Sidebar Nav -->
        <nav class="sidebar-nav">
          <!--Primeira Metade(top)-->
          <ul class="nav-list primary-nav">
            <li class="nav-item">
              <a href="index.html" class="nav-link">
                <span class="material-symbols-rounded">chat</span>
                <span class="nav-label">Chat</span>
              </a>
              <span class="nav-tooltip">Inicie uma conversa com a Aurora!</span>
            </li>

            <li class="nav-item">
              <a href="sobre.html" class="nav-link">
                <span class="material-symbols-rounded">info</span>
                <span class="nav-label">Sobre</span>
              </a>
              <span class="nav-tooltip">Descubra tudo sobre a Aurora!</span>
            </li>

            <li class="nav-item">
              <a href="contato.html" class="nav-link">
                <span class="material-symbols-rounded">call</span>
                <span class="nav-label">Contato</span>
              </a>
              <span class="nav-tooltip">Precisa de ajuda? Fale conosco!</span>
            </li>
          </ul>

          <!--Segunda Metade(bottom)-->
          <ul class="secondary-nav">
            <li class="nav-item bottom-logo-wrapper">
              <a class="bottom-logo" target="_blank">
                <img
                  src="/static/images/LogoAuroraTextoBranco.png"
                  alt="Logo Aurora"
                />
              </a>
            </li>

            <li class="nav-item bottom-logo-wrapper-2">
              <a class="bottom-logo-2" target="_blank">
                <img src="/static/images/logo-mcti.png" alt="Logo ON" />
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <script src="/static/js/sidebar.js"></script>

      <!-- Conteúdo Principal -->

      <div class="main-content-sobre">
        <div class="container">
          <!-- Índice lateral -->
          <aside class="indice">
            <p class="titulo-indice">Índice</p>

            <nav>
              <ul>
                <li><a href="#sobre-aurora">Sobre a Aurora</a></li>
                <li>
                  <a href="#ITP">Infraestrutura, Tecnologia e Privacidade</a>
                </li>
                <li>
                  <a href="#Equipe">Equipe</a>
                </li>
                <li><a href="#CCA">Compromisso com a Ciência Aberta </a></li>
              </ul>
            </nav>
          </aside>

          <!-- Conteúdo das seções -->
          <main class="conteudo">
            <section id="sobre-aurora">
              <h2>Sobre a Aurora</h2>
              <p class="informaçôes">
                Aurora é uma inteligência artificial especializada, desenvolvida
                pela Divisão de Tecnologia da Informação (DITIN) do Observatório
                Nacional, com o objetivo de atuar como uma mediadora confiável
                entre o conhecimento científico institucional e a sociedade.
                Baseada em modelos de linguagem de grande escala (LLMs), Aurora
                foi projetada para promover a educação científica, ampliar o
                acesso à informação qualificada e combater a desinformação,
                especialmente nas áreas de Astronomia, Geofísica e Metrologia.
              </p>
              <br />
              <p class="informaçôes">
                Lançada em versão beta em 2025, Aurora integra os esforços do
                Observatório Nacional para tornar a ciência mais acessível,
                transparente e conectada com os desafios contemporâneos. Seu
                desenvolvimento está alinhado às práticas éticas e abertas da
                ciência, comprometendo-se com a divulgação responsável do
                conhecimento público.
              </p>
            </section>

            <section id="ITP">
              <h2>Infraestrutura, Tecnologia e Privacidade</h2>
              <p class="informaçôes">
                Aurora opera nos servidores do Centro de Processamento de Dados
                do Observatório Nacional (CPDON), com recursos computacionais
                que asseguram desempenho, segurança e eficiência energética. Seu
                modelo de linguagem é ajustado para responder perguntas em
                linguagem natural, facilitando o diálogo com usuários de
                diferentes perfis.
              </p>
              <br />
              <p class="informaçôes">
                A aplicação não coleta dados pessoais e segue princípios de
                ética, privacidade e transparência. As interações com o sistema
                podem ser analisadas apenas para fins de melhoria contínua da
                IA, sempre respeitando o anonimato e os direitos dos usuários.
              </p>
            </section>

            <section id="Equipe">
              <h2>Equipe</h2>

              <!-- Jorge -->
              <div class="boxes">
                <div class="titulo-box"><h2>Coordenação</h2></div>
                <div class="box">
                  <img
                    src="/static/images/Mansur.png"
                    alt="Foto Mansur"
                    class="foto-equipe"
                  />
                  <h3 class="nome">Jorge Manusr</h3>
                  <h4 class="email">mansur@on.br</h4>
                  <p class="cargo">Coordenador-Geral do Projeto Aurora</p>
                  <a
                    class="lattes"
                    href="https://lattes.cnpq.br/1068659961459511 "
                    >Lattes</a
                  >
                </div>

                <!-- Felipe -->
                <div class="box">
                  <img
                    src="/static/images/felipe.png"
                    alt="Foto Felipe"
                    class="foto-equipe"
                  />
                  <h3 class="nome">Luiz Carneiro</h3>
                  <h4 class="email">Luizfg@on.br</h4>
                  <p class="cargo">
                    Coordenador de Desenvolvimento / Engenharia de Integração de
                    IA
                  </p>
                  <a
                    class="lattes"
                    href="https://lattes.cnpq.br/4148586487179141"
                    >Lattes</a
                  >
                </div>

                <div class="titulo-box"><h2>Desenvolvimento</h2></div>
                <!-- Richard -->
                <div class="box">
                  <img
                    src="/static/images/richard.jpg"
                    alt="Foto Richard"
                    class="foto-equipe"
                  />
                  <h3 class="nome">Richard Patrick</h3>
                  <h4 class="email">richardbatista@on.br</h4>
                  <p class="cargo">
                    Desenvolvedor / Especialista em Modelagem 3D
                  </p>
                  <a
                    class="lattes"
                    href="https://lattes.cnpq.br/4148586487179141"
                    >Lattes</a
                  >
                </div>

                <!-- Davi -->
                <div class="box">
                  <img
                    src="/static/images/davi.jpg"
                    alt="Foto Davi"
                    class="foto-equipe"
                  />
                  <h3 class="nome">Davi Teixeira</h3>
                  <h4 class="email">davi@on.br</h4>
                  <p class="cargo">Desenvolvedor Front-end</p>
                </div>

                <!-- Daniel -->
                <div class="box">
                  <img
                    src="/static/images/daniel.png"
                    alt="Foto Daniel"
                    class="foto-equipe"
                  />
                  <h3 class="nome">Daniel Penha</h3>
                  <h4 class="email">danielpenha@on.br</h4>
                  <p class="cargo">Game Designer</p>
                </div>

                <div class="titulo-box"><h2>Apoio Técnico</h2></div>
                <!-- Alex -->
                <div class="box">
                  <img
                    src="/static/images/alex.jpg"
                    alt="Foto Alex"
                    class="foto-equipe"
                  />
                  <h3 class="nome">Alexsandro Oliveira</h3>
                  <h4 class="email">alexsandro@on.br</h4>
                  <p class="cargo"></p>
                </div>

                <!-- Gazoni -->
                <div class="box">
                  <img
                    src="/static/images/gazoni.png"
                    alt="Foto Gazoni"
                    class="foto-equipe"
                  />
                  <h3 class="nome">Leandro Gazoni</h3>
                  <h4 class="email">gazoni@on.br</h4>
                  <p class="cargo"></p>
                </div>

                <div class="titulo-box"><h2>Comunicação e Divulgação</h2></div>
                <!-- Josina -->
                <div class="box">
                  <img
                    src="/static/images/josina.jpg"
                    alt="Foto Josina"
                    class="foto-equipe"
                  />
                  <h3 class="nome">Josina Nascimento</h3>
                  <h4 class="email">josina@on.br</h4>
                  <p class="cargo"></p>
                </div>

                <!-- Cassaro -->
                <div class="box">
                  <img
                    src="/static/images/cassaro.jpg"
                    alt="Foto Rodrigo"
                    class="foto-equipe"
                  />
                  <h3 class="nome">Rodrigo Cassaro</h3>
                  <h4 class="email">rcassaro@on.br</h4>
                  <p class="cargo"></p>
                </div>
              </div>
            </section>

            <section id="CCA">
              <h2>Compromisso com a Ciência Aberta</h2>
              <p class="informaçôes">
                Aurora expressa o compromisso do Observatório Nacional com uma
                ciência pública, inclusiva e socialmente engajada. A iniciativa
                reflete o papel do ON na modernização dos processos de
                comunicação científica institucional, buscando aproximar o
                conhecimento técnico da população e fomentar a cultura
                científica no Brasil.
              </p>
              <br />
              <p class="informaçôes">
                Caso identifique algum erro, deseje contribuir com sugestões ou
                solicitar esclarecimentos, entre em contato com nossa equipe
                pela pagina de
                <a class="link-texto" href="contato.html">contato</a>
              </p>
            </section>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
