@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:wght@400;500;600;700&display=swap");
/* Estilos Globais */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/*! Sidebar */
.sidebar {
  background: #00324b;
  width: 300px;
  /* margin: 16px;
  border-radius: 16px;*/
  flex-shrink: 0;
  position: fixed;
  height: calc(100vh); /* - 32px */
  transition: 0.6s ease;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar.collapsed {
  width: 95px;
}

.sidebar-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}

/* Logo aberta */
.sidebar-header .header-logo-aberta img {
  width: 200px;
  height: 80px;
  display: block;
  object-fit: contain;
}

/* Logo collapsed */
.sidebar-header .header-logo-collapsed img {
  display: none;
  width: 60px;
  height: 60px;
  object-fit: contain;
}

/* trocando as logos */
.sidebar.collapsed .header-logo-aberta img {
  display: none;
}

.sidebar.collapsed .header-logo-collapsed img {
  display: block;
}

.sidebar-header .toggler {
  height: 45px;
  width: 45px;
  background: #fff;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #00324b;
  cursor: pointer;
  transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler {
  position: absolute;
  right: 20px;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler {
  transform: translate(-4px, 65px);
}

.sidebar-header .toggler:hover {
  background-color: #326f8b;
}

.sidebar-header .menu-toggler {
  display: none;
}

.sidebar-header .sidebar-toggler span {
  font-size: 2rem;
  transition: 0.6s ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler span {
  transform: rotate(180deg);
}

.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 20px;
  transform: translateY(15px);
  font-size: large;
  transition: 0.6s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
  transform: translateY(65px);
}

.sidebar-nav .nav-link {
  color: #fff;
  display: flex;
  gap: 12px;
  white-space: nowrap;
  align-items: center;
  padding: 12px 15px;
  text-decoration: none;
  transition: 0.6s ease;
  border-radius: 10px;
}

.sidebar-nav .nav-link:hover {
  background: #fff;
  color: #00324b;
}

.sidebar-nav .nav-link .nav-label {
  transition: opacity 0.6s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
  opacity: 0;
  pointer-events: none;
}

.sidebar-nav .nav-item {
  position: relative;
}

.sidebar-nav .nav-tooltip {
  position: absolute;
  top: -10px;
  opacity: 0;
  display: none;
  pointer-events: none;
  left: calc(100% + 12px);
  color: #00324b;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  padding: 6px 12px;
  border-radius: 8px;
  white-space: nowrap;
  box-shadow: #333 2px 5px 7px;
  transition: 0.1s ease;
  border: solid rgba(134, 134, 134, 0.8px) 0.5px;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
  display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(50%);
  transition: 0.6s ease;
}

.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px; /* opcional */
}

.sidebar-nav .secondary-nav .bottom-logo img {
  transition: opacity 0.6s ease;
  align-content: left;
  width: 200px;
  height: 80px;
}

.sidebar.collapsed .sidebar-nav .secondary-nav .bottom-logo img {
  opacity: 0;
  pointer-events: none;
}

.sidebar-nav .secondary-nav .bottom-logo-2 img {
  transition: opacity 0.6s ease;
  align-content: left;
  width: 250px;
  height: 80px;
}

.sidebar.collapsed .sidebar-nav .secondary-nav .bottom-logo-2 img {
  opacity: 0;
  pointer-events: none;
}

.bottom-logo-wrapper,
.bottom-logo-wrapper-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-logo img {
  width: 200px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.bottom-logo-2 img {
  width: 100px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
/*! Main Content */
body {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(135deg, #dfe6eb, #c3ced3); /* Gradiente suave */
}

.main-content-sobre {
  margin-left: 300px;
  padding: 20px;
  flex-grow: 1;
  transition: margin-left 0.6s ease;
}

.sidebar.collapsed ~ .main-content-sobre {
  margin-left: 95px;
}

.main-content-sobre h1 {
  margin: 20px;
  font-size: 28px;
}

.container {
  display: flex;
  gap: 300px;
  padding: 0 40px;
  margin-top: 20px;
}

.indice {
  background-color: #a3bfcb;
  padding: 20px;
  border-radius: 10px;
  border: 1.5px solid #005377;
  min-width: 200px;
  position: sticky;
  top: 20px;
  height: fit-content;
}

.titulo-indice {
  margin-bottom: 7px;
  color: #005377;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1.5px solid #005377;
}

.indice ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.indice li {
  margin-bottom: 15px;
}

.indice a {
  color: #005377;
  font-weight: bold;
  text-decoration: none;
}

.indice a:hover {
  text-decoration: underline;
}

.conteudo section {
  margin-bottom: 60px;
}

.conteudo h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #19516b;
}

.link-texto {
  color: #19516b;
  text-decoration: none;
  font-weight: bold;
}

.informaçôes {
  color: #19516b;
  text-align: justify;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  background-color: #a3bfcb;
  border: 1.5px solid #005377;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
}

.boxes .titulo-box {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  grid-column: 1 / -1; /* ocupa toda a largura */
}

.box {
  background-color: #dfe6eb;
  border: 1.5px solid #005377;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.foto-equipe {
  width: 100%;
  height: 300px; /* altura padronizada */
  object-fit: cover; /* corta proporcionalmente */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.cargo {
  color: #005377;
  font-size: 0.9rem;
}

.email {
  color: #005377;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.nome {
  color: #00324b;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.lattes {
  color: #005377;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.lattes:hover {
  color: #326f8b;
  transform: scale(1.05);
}

/*! Responsividade(sidebar)*/
@media (max-width: 1024px) {
  .sidebar {
    height: 100vh;
    overflow-y: auto;
    width: calc(100% - 26px);
    max-height: calc(100vh - 26px);
    scrollbar-width: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .sidebar-nav .secondary-nav {
    position: relative;
    bottom: auto;
    padding-bottom: 10px;
  }

  .sidebar.menu-active {
    overflow-y: auto;
  }

  .sidebar-header {
    position: sticky;
    top: 0;
    z-index: 20;
    background: #00324b;
    padding: 8px 10px;
    border-radius: 16px;
  }

  .sidebar-header .header-logo img {
    width: 40px;
    height: 40px;
  }

  .sidebar-header .sidebar-toggler {
    display: none;
  }

  .sidebar-header .menu-toggler {
    display: flex;
    height: 40px;
    width: 40px;
  }

  .sidebar-header .menu-toggler span {
    font-size: 1.9rem;
  }

  .sidebar-nav .nav-list {
    padding: 0 10px;
  }

  .sidebar-nav .nav-link {
    gap: 10px;
    padding: 10px;
    font-size: 1rem;
  }

  .sidebar-nav .nav-link .nav-icon {
    font-size: 1.3rem;
  }
  .sidebar-nav .secondary-nav img {
    display: none;
  }

  .main-content {
    margin-left: 0;
  }
}

/*! Responsividade(Main-Content)*/
@media (max-width: 1024px) {
  body {
    display: block;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 0;
  }

  .main-content-sobre {
    padding-top: 20px;
  }

  .container {
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
  }

  .indice {
    position: relative;
    top: 0;
    width: 100%;
  }

  .conteudo h2 {
    font-size: 20px;
  }

  .indice a {
    font-size: 16px;
  }

  .informaçôes {
    text-align: left;
  }
}

/*! Responsividade(Layout)*/
@media (max-width: 1024px) {
  .layout {
    width: 100%;
    margin-left: 0;
    display: block;
  }

  .main-content,
  .main-content-sobre {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
