/*! Main Content */

.main-content-sobre {
  padding: 20px;
  flex-grow: 1;
}

.main-content-sobre h1 {
  margin: 20px;
  font-size: 28px;
}

.container {
  display: flex;
  padding: 0 40px;
  margin-top: 20px;
}

.indice {
  background-color: #a3bfcb;
  padding: 20px;
  border-radius: 10px;
  border: 1.5px solid #005377;
  min-width: 200px;
  position: sticky;
  top: 20px;
  height: fit-content;
}

.titulo-indice {
  margin-bottom: 7px;
  color: #005377;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1.5px solid #005377;
}

.indice ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.indice li {
  margin-bottom: 15px;
}

.indice a {
  color: #005377;
  font-weight: bold;
  text-decoration: none;
}

.indice a:hover {
  text-decoration: underline;
}

.conteudo section {
  margin-bottom: 60px;
}

.conteudo h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #19516b;
}

.link-texto {
  color: #19516b;
  text-decoration: none;
  font-weight: bold;
}

.informaçôes {
  color: #19516b;
  text-align: justify;
}

.boxes {
  display: grid;
  grid-template-columns: auto-fit, minmax(250px, 1fr);
  gap: 20px;
  background-color: #a3bfcb;
  border: 1.5px solid #005377;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  grid-template-rows: auto;
  grid-auto-flow: row;
}

.boxes .titulo-box {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  grid-column: 1 / -1; /* ocupa toda a largura */
}

.box {
  background-color: #dfe6eb;
  border: 1.5px solid #005377;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.foto-equipe {
  width: 100%;
  height: 400px;
  object-fit: cover; /* corta proporcionalmente */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.cargo {
  color: #005377;
  font-size: 0.9rem;
}

.email {
  color: #005377;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.nome {
  color: #00324b;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.lattes {
  color: #005377;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.lattes:hover {
  color: #326f8b;
  transform: scale(1.05);
}

/*! Responsividade(Main-Content)*/
@media (max-width: 1024px) {
  body {
    display: block;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 0;
  }

  .main-content-sobre {
    padding-top: 20px;
  }

  .container {
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
  }

  .indice {
    position: relative;
    top: 0;
    width: 100%;
  }

  .conteudo h2 {
    font-size: 20px;
  }

  .indice a {
    font-size: 16px;
  }

  .informaçôes {
    text-align: left;
  }
}
